
<tr id="pagespace" submit style="height: 10px"></tr>
<tr>

    <td>
      <%= form_with model: @new do |form| %>
        <table>
          <tbody><tr>
            <td> title </td>
            <td> <%= form.text_field :title %> </td>
          </tr>
          <tr>
            <td> url </td>
            <td> <%= form.text_field :url %> </td>
          </tr>
          <tr>
            <td></td>
            <td> <b>or</b></td>
          </tr>
          <tr>
            <td> text </td>
            <td> <%= form.text_area :text, size: "60x10" %> </td>
          </tr>
          <tr>
            <td></td>
            <td><%= form.submit %> </td>
          </tr>
          <tr>
            <td></td>
            <td>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</td></tr>
          <tr></tr>
          <tr>
            <td></td>
            <td>You can also submit via
              <a href=https://news.ycombinator.com/bookmarklet.html rel="nofollow">
                <u> bookmarklet. </u>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      <% end %>


    </td>


</tr>


